*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.menu{
    display: inline-block;
    width: 100%;
    background-color: black;
    padding: 20px;
}

.menu a{
    color: white;
    padding: 20px;
    font-size: 28px;
    text-decoration: none;
}

.menu a:hover{
    background-color: crimson;
    font-size: 30px;
}

.content-index , .profile{
    text-align: center;
    padding: 20px;
}

.content-index img, .profile>img{
    width: 300px;
    border: 10px double brown;
    border-radius: 40px;
}

.content-index p{
    font-size: 18px;
}

.content-profile p{
    margin-top: 10px;
}

.social img{
    width: 50px;
    margin: 10px;
}

.social img:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.hobby{
    display: flex;
    padding: 20px;
    height: 650px;
}

.hobby img{
    width: 100%;
}

.hobby .show-Slides {
    width: 70%;
    height: 600px;
    float: left;
    border: 5px solid white;
    border-radius: 20px;
    display: none;
    margin: auto;
}

.hobby-slides{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    overflow: scroll;
}


.hobby-slides img{
    width: 150px;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    opacity : 0.5;
}

.hobby-slides .active, img:hover{
    opacity : 1;
}

.content-frind {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}



.content-frind table,th,td {
    border: 1px solid black;
}

.content-frind table {
    border-collapse: collapse;
    /* table-layout: fixed; */
    width: 100%;
    margin-top: 20px;
}

.content-frind th {
    height: 30px;
    font-size: 18px;
    background-color: rgba(134, 64, 6, 0.685);
}

.content-frind td {
    padding: 3px 13px;
}