*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.menu{
    display: inline-block;
    width: 100%;
    background-color: black;
    padding: 20px;
}

.menu a{
    color: white;
    padding: 20px;
    font-size: 28px;
    text-decoration: none;
}

.menu a:hover{
    background-color: crimson;
    font-size: 30px;
}

.content-index , .profile{
    text-align: center;
    padding: 20px;
}

.content-index img, .profile>img{
    width: 300px;
    border: 10px double brown;
    border-radius: 40px;
}

.content-index p{
    font-size: 18px;
}

.social img{
    width: 50px;
    margin: 10px;
}

.social img:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 55px;
}

.hobby {
    display: flex;
    flex-wrap: wrap;
    
    
}

.hobby img{
    display: block;
    width: 290px;
    border: 05px solid white;
    border-radius: 20px;
    margin: 5px;
}

.content--frind{
}

table,th,td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    /* table-layout: fixed; */
    width: 100%;
}

th {
    height: 30px;
    font-size: 18px;
    background-color: rgba(134, 64, 6, 0.685);
}

td {
    padding: 3px 13px;
}